language: node_js

node_js:
  - "10"

cache: npm

.steps:
  - &node-install |
    npm install
  - &run-server |
    npm run serve > /dev/null 2>&1 &
    sleep 5
  - &run-lint |
    npm run lint
  - &build-demo |
    npm run build &
    pwd
install:
  - *node-install
  - *run-server

script:
  - *run-lint
  - wget http://localhost:8080

before_deploy:
  - *build-demo
  - cat "yavue.de" >> CNAME

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: ./dist
  on:
    branch: travis-build